.styled-table {
  margin: 60px auto;
  text-align: center;
  /* font-size: large; */
  width: 100%;
  border-collapse: collapse;
  border-radius: 1em;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th {
  text-align: center;
  padding: 20px;
}

.styled-table thead tr {
  background-color: #3c3c3c;
  color: #ffffff;
  text-align: left;
}

.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #3c3c3c;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #2d2d2d;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #7cbba8;
}

/* button style */

.edit_button button {
  font-family: inherit;
  background: rgb(48, 158, 48);
  color: white;
  padding: 0.7em 1em;
  cursor: pointer;
  margin: auto;
  padding-left: 0.9em;
  display: flex;
  font-size: large;
  font-family: "Poppins", sans-serif;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.edit_button button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.edit_button button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.edit_button button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.edit_button button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.edit_button button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.delete_button button {
  width: 150px;
  height: 50px;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 16px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

.delete_button button,
.delete_button button span {
  transition: 200ms;
}

.delete_button button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.delete_button button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete_button button svg {
  width: 15px;
  fill: #eee;
}

.delete_button button:hover {
  background: #ff3636;
}

.delete_button button:hover .text {
  color: transparent;
}

.delete_button button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.delete_button button:focus {
  outline: none;
}

.delete_button button:active .icon svg {
  transform: scale(0.8);
}

.edittable {
  font-size: large;
}
.edittable td {
  padding: 10px;
  text-align: right;
}

/* add new */
#newdata {
  width: 100%;
}

.cta {
  position: relative;
  margin: auto;
  display: inline-flex;
  width: content;
  padding: 10px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #1b2c39;
  /* background-image: linear-gradient(to right, #5bd7fc, #86ffa3, #f6ff96); */
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;

  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
  /* background: -webkit-linear-gradient(to right, #5bd7fc, #86ffa3, #f6ff96); */
}

.cta svg {
  position: relative;
  top: 9px;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #1b2c39;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

/* optionsdata */
.optionsdata {
  display: flex;
  justify-content: space-between;
}

/* searchbar */
#searchbar,
input,
textarea {
  width: 100%;
  margin: auto;
}

#searchbar input,
select,
input,
textarea {
  width: auto;
  margin: 0.3rem;
  background-color: #1b2c39;
  color: #fff;
  padding: 0.45rem 1rem;
  min-height: 40px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
}
input,
textarea {
  width: 100%;
}
#searchbar input::placeholder,
select::placeholder,
input::placeholder,
textarea::placeholder {
  color: #fff;
}

#searchbar input:focus,
select:focus,
input:focus,
textarea:focus {
  border-bottom: 2px solid #7cbba8;
  border-radius: 4px 4px 2px 2px;
}

#searchbar input:hover,
select:hover {
  outline: 1px solid lightgrey;
}

#searchbar select,
input,
textarea {
  padding: 0.15rem 0.5rem;
}
